<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-sky-100">
    <div class="container w-full m-auto flex flex-col items-center justify-center h-screen font-sans">
        <h1 class="text-2xl text-center">Oops! 404 Page not found.</h1>
        <p class="text-center">The page you are looking for does not exist.</p>
        <a href="{{ url_for('index') }}" class="text-center mt-10">Go to Home</a>
    </div>

   
</body>
</html>
