<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script src="{{ url_for('static', filename='dist/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='excel/xlsx.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body class="flex h-screen bg-sky-100 font-sans">
  <div class="w-64 bg-gray-800 text-white fixed top-0 bottom-0 p-4 flex flex-col">
      <div>
          <h2 class="text-xl font-bold mb-8 text-center">Admin</h2>
          <ul class="flex flex-col gap-2">
              <li>
                  <a id="link-dashboard" class="p-2 rounded hover:bg-sky-600 cursor-pointer flex items-center gap-5" onclick="showPage('dashboard')">
                      <img src="../static/img/dashboard.png" alt="dashboard" class="w-6">
                      <p>Dashboard</p>
                  </a>
              </li>
              <li>
                  <a id="link-attendance" class="p-2 rounded hover:bg-sky-600 cursor-pointer flex items-center gap-5" onclick="showPage('attendance')">
                      <img src="../static/img/records.png" alt="attendance" class="w-6">
                      <p>Attendance Records</p>
                  </a>
              </li>
              <li>
                  <a id="link-activity" class="p-2 rounded hover:bg-sky-600 cursor-pointer flex items-center gap-5" onclick="showPage('activity')">
                      <img src="../static/img/activity.png" alt="activity" class="w-6">
                      <p>Activity Logs</p>
                  </a>
              </li>
              <li>
                  <a id="link-backup" class="p-2 rounded hover:bg-sky-600 cursor-pointer flex items-center gap-5" onclick="showPage('backup')">
                      <img src="../static/img/backup.png" alt="backup" class="w-6">
                      <p>Database Backup</p>
                  </a>
              </li>
          </ul>
      </div>
      <div class="mt-auto">
          <a href="/admin/logout" id="link-logout" class="p-2 rounded hover:bg-sky-600 cursor-pointer flex items-center gap-5">
              <img src="../static/img/logout.png" alt="logout" class="w-6">
              <p>Logout</p>
          </a>
      </div>
  </div>
  <div class="flex-1 ml-64">
      <div class="bg-white shadow p-4 flex items-center justify-between">
          <h2 class="text-xl font-bold text-gray-700">Facial Recognition Attendance System</h2>
          <div class="flex gap-2">
              <p class="text-base dark:text-gray-700" id="date"></p>
              <p class="text-base dark:text-gray-700" id="time"></p>
          </div>       
      </div>
      <div class="p-4 bg-sky-100">
          <div id="dashboard" class="page hidden">
              <div class="rounded p-4">
                  <h2 class="text-xl font-semibold mb-5">Dashboard</h2>
                  <div class="grid grid-cols-3 gap-4 mb-10">
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/users.png" alt="users"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Total Users</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/hat.png" alt="hat"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Students</div>
                          <div class="stat-value" id="unique-student-count">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/book.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Teachers</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/staff.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Staffs</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/attendance.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Total Attendance</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/absent.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Total Absences</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/attendance.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Daily Attendance</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      <div class="stat shadow rounded bg-white">
                          <div class="stat-figure text-secondary">
                            <div class="avatar">
                              <div class="w-16">
                                <img src="../static/img/absent.png" alt="book"/>
                              </div>
                            </div>
                          </div>                           
                          <div class="stat-title">Daily Absences</div>
                          <div class="stat-value">Loading...</div>
                      </div>
                      
                  </div>
                  <div class="bg-white rounded shadow p-4">
                      <h2>Monthly Data</h2>
                      <canvas id="barChart"></canvas>
                      <script>
                          const labels = ['November', 'December', 'January', 'February', 'March', 'April', 'May']; 
                          const data = {
                              labels: labels,
                              datasets: [{
                                  label: 'Attendance Count',
                                  data: [1200, 1259, 3480, 3481, 2256, 2255, 2340],
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.2)',
                                      'rgba(255, 159, 64, 0.2)',
                                      'rgba(255, 205, 86, 0.2)',
                                      'rgba(75, 192, 192, 0.2)',
                                      'rgba(54, 162, 235, 0.2)',
                                      'rgba(153, 102, 255, 0.2)',
                                      'rgba(201, 203, 207, 0.2)'
                                  ],
                                  borderColor: [
                                      'rgb(255, 99, 132)',
                                      'rgb(255, 159, 64)',
                                      'rgb(255, 205, 86)',
                                      'rgb(75, 192, 192)',
                                      'rgb(54, 162, 235)',
                                      'rgb(153, 102, 255)',
                                      'rgb(201, 203, 207)'
                                  ],
                                  borderWidth: 1
                              }]
                          };
                  
                          const config = {
                              type: 'bar',
                              data: data,
                              options: {
                                  responsive: true,
                                  scales: {
                                      y: {
                                          beginAtZero: true
                                      }
                                  }
                              },
                          };
                  
                          const ctx = document.getElementById('barChart').getContext('2d');
                          new Chart(ctx, config);
                      </script>
                  </div>      
              </div>       
          </div>
          <div id="attendance" class="page hidden">
            <div class="rounded p-4">
              <h2 class="text-xl font-semibold">Attendance Records</h2>
              <div class="bg-white mt-5 rounded shadow p-4 overflow-y-auto h-screen">
                  <div class="flex p-4 justify-between">
                      <input type="text" id="searchInputUsers" placeholder="Search" class="input input-bordered w-full max-w-xs" oninput="filterUsers()" />
                      <div class="flex gap-2">
                          <select id="gradeSelect" title="sort-grade" class="select select-bordered w-full max-w-48" onchange="updateSections()">
                              <option selected>Grade Level</option>
                              <option value="grade_7">Grade 7</option>
                              <option value="grade_8">Grade 8</option>
                              <option value="grade_9">Grade 9</option>
                              <option value="grade_10">Grade 10</option>
                              <option value="grade_11">Grade 11</option>
                              <option value="grade_12">Grade 12</option>
                          </select>
                          <select id="sectionSelect" title="sort-section" class="select select-bordered w-full max-w-48" onchange="filterUsers()">
                              <option selected>Section</option>
                              <!-- Sections will be populated dynamically -->
                          </select>
                          <select id="sortSelectUsers" title="sort-date" class="select select-bordered w-full max-w-48" onchange="sortUsers()">
                              <option selected>Sort By</option>
                              <option value="date">Date Modified</option>
                              <option value="name">Name</option>
                              <option value="id">ID</option>
                          </select>
                          <button id="exportBtn" class="w-auto flex items-center justify-center bg-green-200 p-2 px-4 rounded-lg hover:opacity-80" onclick="exportToExcelAttendance()">
                              Export
                          </button>
                          <button id="printBtn" class="w-auto flex items-center justify-center bg-sky-200 p-2 px-4 rounded-lg hover:opacity-80" onclick="printAttendance()">
                            Print
                          </button>
                      </div>
                  </div>
                  <table class="table" id="attendanceTable">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Status</th>
                              <th>Grade</th>
                              <th>Section</th>
                              <th>Date & Time</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- User data will be populated here -->
                      </tbody>
                  </table>
              </div>

                <h2 class="text-xl font-semibold mt-10">Registered Users</h2>
                <div class="bg-white mt-5 rounded shadow p-4 overflow-y-auto h-screen">
                  <div class="flex p-4 justify-between">
                    <input type="text" id="searchInputRegisteredUsers" placeholder="Search" class="input input-bordered w-full max-w-xs" oninput="filterRegisteredUsers()" />
                    <div class="flex gap-2">
                        <select id="gradeSelectRegisteredUsers" title="sort-grade" class="select select-bordered w-full max-w-48" onchange="updateSectionsRegisteredUsers()">
                            <option selected>Grade Level</option>
                            <option value="grade_7">Grade 7</option>
                            <option value="grade_8">Grade 8</option>
                            <option value="grade_9">Grade 9</option>
                            <option value="grade_10">Grade 10</option>
                            <option value="grade_11">Grade 11</option>
                            <option value="grade_12">Grade 12</option>
                        </select>
                        <select id="sectionSelectRegisteredUsers" title="sort-section" class="select select-bordered w-full max-w-48" onchange="filterRegisteredUsers()">
                            <option selected>Section</option>
                            <!-- Sections will be populated dynamically -->
                        </select>
                        <select id="sortSelectRegisteredUsers" title="sort-date" class="select select-bordered w-full max-w-48" onchange="sortRegisteredUsers()">
                            <option selected>Sort By</option>
                            <option value="date">Date Modified</option>
                            <option value="name">Name</option>
                            <option value="id">ID</option>
                        </select>
                        <button id="exportBtn" class="w-auto flex items-center justify-center bg-green-200 dark:bg-green-700 text-gray-800 dark:text-gray-300 p-2 px-4 rounded-lg hover:opacity-80" onclick="exportToExcelRegisteredUsers()">
                            Export
                        </button>
                        <button id="printBtn" class="w-auto flex items-center justify-center bg-sky-200 p-2 px-4 rounded-lg hover:opacity-80" onclick="printRegistered()">
                          Print
                        </button>
                    </div>
                  </div>
                  <table class="table" id="registeredUsersTable">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Grade</th>
                              <th>Section</th>
                              <th>Total Attendance</th>
                              <th>Weekly Attendance</th>
                              <th>Week</th>
                              <th>Date Created</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- User data will be populated here -->
                      </tbody>
                  </table>
                </div>
            </div>          
          </div>
          <div id="activity" class="page hidden">
            <div class="rounded p-4">
              <h2 class="text-xl font-semibold">Activity Logs</h2>
              <div class="overflow-x-auto bg-white mt-5 rounded shadow p-4">
                  <div class="flex p-4 justify-between">
                      <input type="text" id="searchInputLogs" placeholder="Search" class="input input-bordered w-full max-w-xs" onkeyup="filterLogs()" autocomplete="off"/>
                      <div class="flex gap-2 w-auto">
                        <select id="sortSelectLogs" class="select select-bordered w-full max-w-48" onchange="sortLogs()">
                            <option disabled selected>Sort By</option>
                            <option value="date">Date Modified</option>
                            <option value="name">Name</option>
                            <option value="id">ID</option>
                        </select>
                        <button id="exportBtn" class="w-auto flex items-center justify-center bg-green-200 dark:bg-green-700 text-gray-800 dark:text-gray-300 p-2 px-4 rounded-lg hover:opacity-80" onclick="exportToExcel()">
                          Export
                        </button>
                        <button id="printBtn" class="w-auto flex items-center justify-center bg-sky-200 p-2 px-4 rounded-lg hover:opacity-80" onclick="printLogs()">
                          Print
                        </button>
                      </div>
                  </div>
                  <table class="table" id="activityLogsTable">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Activity</th>
                              <th>Date & Time</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Rows will be populated here -->
                      </tbody>
                  </table>
              </div>
            </div>          
          </div>
          <div id="backup" class="page hidden">
            <div class="rounded p-4">
              <h2 class="text-xl font-semibold">Database Backup</h2>
                <div class="flex items-center justify-center mt-5">
                  <button class="py-2 px-5 text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-300 hover:text-gray-700" onclick="backupDatabase.showModal()">Backup Database</button>
                    <dialog id="backupDatabase" class="modal">
                      <div class="modal-box">
                        <p class="py-4 text-center">Do you want to backup your database?</p>
                        <div class="modal-action flex items-center justify-center">
                          <form method="POST" class="flex justify-between gap-5">
                            <button type="button" class="py-2 px-5 text-green-700 bg-white border border-green-500 rounded-lg hover:bg-green-500 hover:text-white" onclick="confirmBackup()">Yes</button>
                            <button type="button" class="py-2 px-5 text-rose-700 bg-white border border-rose-500 rounded-lg hover:bg-rose-500 hover:text-white" onclick="backupDatabase.close()">No</button>
                          </form>
                        </div>
                      </div>
                    </dialog>
                </div>
            </div>     
          </div>
      </div>
  </div>

  <script>

  </script>
</body>
</html>
