<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-sky-100 font-sans h-screen">
    <a href="/" class="absolute top-0 left-0 w-fit p-1 px-4 border border-gray-300 bg-white rounded-full m-5 hover:bg-gray-100">Login as Admin</a>
    <main class="grid grid-cols-10 gap-10 p-10 pt-20 2xl:pt-10 h-auto bg-sky-100">
        <section class="col-span-4 flex flex-col gap-16 items-center p-5 2xl:py-20">
            <div class="flex flex-col gap-5 w-full items-center px-5">
                <h2 class="text-center font-semibold text-2xl">Facial Recognition</h2>
                <div class="rounded w-96 h-96 bg-white">
                    <!--<img src="../static/img/face-scanner.png" alt="yow" class="object-cover w-full h-full rounded">-->
                    <img src="{{ url_for('faceRecognition.video_feed') }}" alt="yow" class="object-cover w-full h-full rounded">
                </div>
                <form action="{{ url_for('faceRecognition.toggle_camera') }}" method="post" class="mt-4">
                    <button type="submit" class="bg-white text-black hover:opacity-70 px-4 py-2 rounded shadow">
                        {{ 'Stop Camera' if camera_running else 'Start Camera' }}
                    </button>
                </form>
            </div>
            <div class="flex w-96 items-center rounded bg-white shadow">
                <div class="flex flex-col w-2/5 p-2 gap-2 items-center justify-center">
                    <img src="../static/img/attendance.png" alt="user" class="w-24 h-24 shadow" id="userPicture" style="display: none;">
                    <!--<p class="text-base text-green-500">Present</p>-->
                </div>
                <div class="flex-col w-3/5 p-5 px-0">
                    <h5 class="text-lg font-semibold" id="detected-name">Unknown</h5>
                    <p class="text-base" id="detected-grade-section">N/A - N/A</p>
                    <p class="text-base" id="detected-user-type">N/A</p>
                    <p class="text-base">Pinoma National High School</p>
                    <p class="text-base mt-5" id="detected-time">N/A</p>
                </div>
            </div>
        </section>
        <section class="col-span-6 flex 2xl:p-5">
            <div class="flex flex-col rounded bg-white w-full p-5 px-8 shadow overflow-y-scroll">
                <h2 class="text-center text-2xl font-semibold">Attendance Record and Statistics</h2>
                <h5 class="text-lg font-semibold mt-5 mb-4">Statistics</h5>
                <div class="grid grid-cols-2 gap-5">
                    <div class="flex justify-between green-box rounded p-5">
                        <p>Weekly Attendance</p>
                        <p id="attendance-weekly">Loading...</p>
                    </div>
                    <div class="flex justify-between orange-box rounded p-5">
                        <p>Total Attendance</p>
                        <p id="attendance-total">Loading...</p>
                    </div>
                </div>
                <!--
                <div class="p-4 mt-5 hidden">
                    
                    <h2>Monthly Data</h2>
                    <canvas id="barChart"></canvas>
                    <script>
                        const labels = ['November', 'December', 'January', 'February', 'March', 'April'];
                        const attendanceData = [20, 25, 15, 22, 18, 27]; 
                        const absenceData = [10, 5, 15, 8, 12, 3]; 

                        const data = {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Attendance Count',
                                    data: attendanceData,
                                    backgroundColor: '#8DD073', 
                                    borderColor: '#8DD073',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Absence Count',
                                    data: absenceData,
                                    backgroundColor: '#F1C850',
                                    borderColor: '#F1C850',
                                    borderWidth: 1
                                }
                            ]
                        };

                        const config = {
                            type: 'bar',
                            data: data,
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        title: {
                                            display: true,
                                            text: 'Days',
                                            font: {
                                                size: 16,
                                                weight: 'bold'
                                            }
                                        },
                                        beginAtZero: true,
                                        max: 30
                                    },
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'Months',
                                            font: {
                                                size: 16,
                                                weight: 'bold'
                                            }
                                        }
                                    }
                                }
                            },
                        };

                        const ctx = document.getElementById('barChart').getContext('2d');
                        new Chart(ctx, config);
                    </script>
                </div>-->

                <hr class="my-8">

                <h5 class="text-lg font-semibold mb-4">Recent Attendance</h5>
                <table class="mb-5" id="userTable">
                    <!--
                    <tr class="bg-gray-100">
                        <th class="text-gray-600 border border-gray-300 p-1">Student Id</th>
                        <th class="text-gray-600 border border-gray-300 p-1">Present (Yes/No)</th>
                        <th class="text-gray-600 border border-gray-300 p-1">Date & Time</th>
                    </tr>-->
                   
                </table>
                <!--
                <button class="rounded-full w-fit mx-auto p-2 px-4 text-sm border border-gray-300 hover:bg-gray-100">Load More</button>-->

            </div>
        </section>
    </main> 
    
    <script src="{{ url_for('static', filename='dist/chart.umd.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/faceScript.js') }}" defer></script>
</body>
</html>